.btn-principal {
    display: inline-block;
    background: #25D366;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    margin: 15px 0;
    transition: 0.3s;
}

.btn-principal:hover {
    background: #1ebe5d;
}

.confianza {
    margin-top: 10px;
    font-size: 14px;
}

/* REDES HORIZONTAL */
.redes {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
}

.redes a {
    color: #3b82f6;
    text-decoration: none;
    font-weight: bold;
}

.redes a:hover {
    text-decoration: underline;
}
