body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b0f1a;
    color: #f1f5f9;
}

/* CONTENEDOR */
.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

/* PERFIL */
.perfil {
    margin-bottom: 30px;
}

.perfil-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.perfil-info img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 3px solid #3b82f6;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(59,130,246,0.4);
    transition: 0.3s;
}

.perfil-info img:hover {
    transform: scale(1.05);
}

.frase {
    color: #3b82f6;
    font-size: 14px;
    margin: 5px 0;
}

/* CARDS */
.card {
    background: #0f172a;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(59,130,246,0.15);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* TITULOS */
h1, h2 {
    color: #3b82f6;
}

h3 {
    margin-top: 20px;
    color: #93c5fd;
}

/* BOTONES */
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #1e3a8a;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.btn:hover {
    background: #3b82f6;
}

/* LINKS */
.links {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 0;
}

.links a {
    color: #3b82f6;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

/* WHATSAPP */
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25d366;
    color: white;
    font-size: 24px;
    padding: 15px;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    color: #666;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .perfil-info {
        flex-direction: column;
        text-align: center;
    }
  }
